body {
    font-family: 'Russo One', sans-serif;
}

h1 {
    text-align: center;
    margin: 0 auto;
}

img {
    width: 100%;
}

#user-guesses, #guesses-left, #wins, #losses {
    font-family: 'Special Elite', cursive;
    font-size: 40px;
}


